doctype html
html(lang=en)
    head 
        title Moro
        link(rel='stylesheet', type='text/css', href='css/stylesheet.css')
        script(src="js/index.js")
    body 
        div(id='container')
