body {
    background-color: #f4f4f4;
    color: #0a0a0a;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.brand-logo {
    margin-left: 6px;
}

#recipe-text {
    margin-right: 6px;
    margin-bottom: 6px;
}